/*I have organized my style.css document. The first part is for the logo, the second part is for the body, the third part creates a class I can use to make specific text italic and grey to indicate that it is another person speaking, and the fourth part is for the navbar. */

/*This makes the logo used as text area 50% of the webpage and gives it a margin at the top. */
.Logo_Half {
  width: 1000px;
  max-width: 50%;
  margin-top: 30px;
}

/*This makes the logo itself as an image and makes it the full size of the logo area. */
.Logo_Half>img {
  width: 100%;
}

/*This makes the logo area 100% of the webpage and gives it a margin at the top. */
.Logo_Full {
  width: 100%;
  margin-top: 30px;
}

/*This makes the logo itself as an image and makes it the full size of the logo area. */
.Logo_Full>img {
  width: 100%;
}





/*This styles the body, giving it the correct size, font, and margin. */
.Body_Styling {
  margin: 15px;
  font-size: 150%;

  font-family: "Comic Sans MS";
  font-style: normal;
}

/*This styles h1s to make them closer to the text below them. */
.Body_Styling>h1 {
  margin-bottom: -25px;
}

/*This styles h2s to make them a different text size. */
.Body_Styling>h2 {
  font-size: 140%;
  margin-bottom: -25px;
}

/*This gives paragraphs an indent, unless explicitly told otherwise in the HTML in a few cases. */
.Body_Styling>p {
  text-indent: 75px;
}





/*This is the class for styling the text of the second character speaking in the History of Minecraft page. */
.P2 {
  font-style: italic;
  color: grey;
}





/*Everything in between this comment and the next comment that says "HEAT PUMPS WILL SAVE THE WORLD ONE DAY" is for the navbar, copied from w3schools' website. */
.navbar>ul {
  list-style-type: none;
  margin: -8px;
  padding: 0%;
  overflow: hidden;
  background-color: #3d3d3d;
  font-family: "Comic Sans MS";
  font-style: normal;
}

.navbar>ul>li {
  float: left;
}

.navbar>ul>li>a {
  display: block;
  font-size: 17.5px;
  color: white;
  text-align: center;
  padding: 12.5px 22.5px;
  text-decoration: none;
}

.navbar>ul>li>a:hover {
  background-color: #111111;
}

.navbar>ul>li>a.active {
  background-color: #04AA6D;
}

.navbar>ul>li>a:hover:not(.active) {
  background-color: #111111;
}
/*HEAT PUMPS WILL SAVE THE WORLD ONE DAY*/

/*Remember the following link for the Issues of Minecraft: https://youtu.be/jmsgJPLbxbc?si=kHlYGZM1V1_TTIMY */
